body {
    background-color: #fa8072;
}

button, div, form, input {
    margin: 5px;
}

h1 {
    font-size: 60px;
    font-display: "Georgia" serif;
    font-style: italic;
}

button {
    width: 80px;
    color: black;
    height: 50px;
    font-family: Georgia, serif;
    font-size: 15px;
}

image {
    float: left;
}

