body {
    background-color: #fa8072;
    margin: 0;
    padding: 0;
}

button, div, form, input {
    margin: 5px;
}

h1 {
    font-size: 60px;
    font-family: "Times New Roman", Times, serif;
}

button {
    width: 80px;
    color: black;
    height: 50px;
    font-family: Georgia, serif;
    font-size: 15px;
    background-color: lightblue;
}

input[type=submit] {
    background-color: lightblue;
    width: 80px;
    font-size: 15px;
    font-family: Georgia, serif;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    text-align: center;  
    height: 60px;
}

footer p {
    margin-top: 20px;
    font-style: italic;
    font-size: 20px;
    color: black;
}