body {
    background-color: #fa8072;
}

button, div, form, input {
    margin: 5px;
}

h1 {
    font-size: 60px;
    font-family: "Times New Roman", Times, serif;
}

button {
    width: 80px;
    color: black;
    height: 50px;
    font-family: Georgia, serif;
    font-size: 15px;
    background-color: lightblue;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    color: black;
    text-align: center;
    height: 40px;
}
